<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Maisha Mtaani</title>

</head>
<nav class="navbar navbar-expand-lg navbar-dark btn-success" style="color:#99FF33">
  <a class="navbar-brand" href="#"><img src="https://lh3.googleusercontent.com/EpIaDEqfrI02_H1UhpJlzpSNdGI66i_UbAhYPB4M0HBSw6oLz_diQzTgCGCP0aDdvImwM2rU0q0gukg9tnNbXF8UkYSw4BWS4mesfZgdolQsDZmlhT9h4YTwhR2QL9G8k04ShQsTcx5rdJVF-EW5Pzm_9M2zuN0F8fVHfqOH6OPR3cIv85SoJlDy1-nE8rL4z2APn-Z_uoxT0qqT0-5uoG0xzkCl6ihZN5Ss6OLq_OAOjjR-sHobF6tNzepyNbIKWXoMOquF8RKXSK9oJD3of66g_Shl7wkIGr_ngHjh_1t1oesDwBnwaSssqHzgr9VlF3M8n57Muq0ZDo0LYIAE9RDL9ER_t3gRaPnD1-FkkMZI3_84E2XLAuke5pZ5II2aDmil3BMMdYUGDNi6_2DwIUY-4i9j0KmnekVsYk4Tjc_YH-DqqjMKYiQqoiqdzoIKOesLKZKdjV5fvNg-jC5Bz4aZ1HxR-7HpQFWCvaVBuc26J2lg7MWENfqPZdNHJRBL8Wrsk5GqV8UlEZYocV0KS-ABJcN502tBVFnX3c4GvyK90hVxAImSOHZBDnfqORc5tD-qbnUj32xMoHSX58Xw8OCYZcD1YwIbXiAh8JmbuYtvQUJvxudldGShKaEqm6IXyI8OpVed3M0LFgH0OSEqruoL4C4r8NuCid1e6JSRPfS-7-ixpQk0Cw=s320-no" alt="" style="max-width:4rem;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_hood' %}">Add Hood</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link disabled" href="#" title="User">{{user}}</a>
      <li class="nav-item mx-1">
        <a class="nav-link" href="/profile/" title="profile"><i class="far fa-user-circle fa-2x"></i></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" title="Logout"><i class="fas fa-sign-out-alt fa-2x"></i></i></a>
      </li>
    </ul>
  </div>
</nav>

<body>

</body>

</html>
