{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<br>
<br>
<div class="container" style="background: #99FF33">
  <header class="text-center" style="font-size: 40px;"><img src="https://lh3.googleusercontent.com/EpIaDEqfrI02_H1UhpJlzpSNdGI66i_UbAhYPB4M0HBSw6oLz_diQzTgCGCP0aDdvImwM2rU0q0gukg9tnNbXF8UkYSw4BWS4mesfZgdolQsDZmlhT9h4YTwhR2QL9G8k04ShQsTcx5rdJVF-EW5Pzm_9M2zuN0F8fVHfqOH6OPR3cIv85SoJlDy1-nE8rL4z2APn-Z_uoxT0qqT0-5uoG0xzkCl6ihZN5Ss6OLq_OAOjjR-sHobF6tNzepyNbIKWXoMOquF8RKXSK9oJD3of66g_Shl7wkIGr_ngHjh_1t1oesDwBnwaSssqHzgr9VlF3M8n57Muq0ZDo0LYIAE9RDL9ER_t3gRaPnD1-FkkMZI3_84E2XLAuke5pZ5II2aDmil3BMMdYUGDNi6_2DwIUY-4i9j0KmnekVsYk4Tjc_YH-DqqjMKYiQqoiqdzoIKOesLKZKdjV5fvNg-jC5Bz4aZ1HxR-7HpQFWCvaVBuc26J2lg7MWENfqPZdNHJRBL8Wrsk5GqV8UlEZYocV0KS-ABJcN502tBVFnX3c4GvyK90hVxAImSOHZBDnfqORc5tD-qbnUj32xMoHSX58Xw8OCYZcD1YwIbXiAh8JmbuYtvQUJvxudldGShKaEqm6IXyI8OpVed3M0LFgH0OSEqruoL4C4r8NuCid1e6JSRPfS-7-ixpQk0Cw=s320-no" alt="" style="max-width:17rem;"></header>
  <br><br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <div class="card card-default">

        <div class="card-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="card-body">

          <form action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>
            <p>Not registered yet? Create an account <a href="/accounts/register">here</a></p>

          </form>

        </div>

      </div>

    </div>

    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
